@using Negosud.MVCWeb.Types;
@{
    ViewData["Title"] = "Articles";
    Item item = Model;
    float price = int.Parse(System.Math.Round(item.SellingPriceBT * ( 1 + item.Vat / 100), 2).ToString());
}

<a asp-action="Index">Retour</a>

<h1>@item.Name</h1>
<h2>@item.Description</h2>
<div>
    <p>Famille : @item.Family.Name</p>
    <p>Année : @item.YearItem</p>
    <p>Prix : @price&euro;</p>
</div>

<a
    asp-controller="ShoppingCart"
    asp-action="Add"
    asp-route-id="@item.Id"
    asp-route-name="@item.Name"
    asp-route-price="@price"
    asp-route-redirect="true"
>Ajouter au panier</a>
