@using Negosud.MVCWeb.Types;
@{
    ViewData["Title"] = "Articles";
    Item item = Model;
}

<a asp-action="Index">Retour</a>

<h1>@item.Name</h1>
<h2>@item.Description</h2>
<div>
    <p>Famille : @item.Family.Name</p>
    <p>Année : @item.YearItem</p>
    <p>Prix : @(item.SellingPriceBT * item.Vat)&euro;</p>
</div>

<a asp-controller="Basket" asp-action="Add" asp-route-id="@item.Id", asp-route-name="@item.Name">Ajouter au panier</a>