@using Negosud.MVCWeb.Types;
@{
    ViewData["Title"] = "Articles";
}

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Famille</th>
            <th>Année</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Item item in Model)
        {
            <tr asp-action="Item" asp-route-id="@item.Id">
                <td>@item.Name</td>
                <td>@item.Family.Name</td>
                <td>@item.YearItem</td>
                <td>@(item.SellingPriceBT * item.Vat)&euro;</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>